

header{
    background-color: #244751;
    color: #E8FDFF;
}

body{
    background-color: whitesmoke;
   
}

body, input {
    font-family: fantasy
}

main{
    background-color: white;
    padding: 16px;
}

.post {
    margin-bottom: 48px;
}

.post .user-info img{
    border-radius: 50%;
}

